a {
    text-decoration: none;
}

ul>li:before {
    content: "• ";
}

.ezd:after {
    content: "";
    background-image: url("easy demon.png");
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
    display: inline-block;
    object-fit: fill;
}

.md:after {
    content: "";
    background-image: url("medium demon.png");
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
    display: inline-block;
    object-fit: fill;
}


.hd:after {
    content: "";
    background-image: url("hard demon.png");
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
    display: inline-block;
    object-fit: fill;
}


.id:after {
    content: "";
    background-image: url("insane demon.png");
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
    display: inline-block;
    object-fit: fill;
}


.exd:after {
    content: "";
    background-image: url("extreme demon.png");
    width: 22px;
    height: 18px;
    background-size: 22px 18px;
    display: inline-block;
    object-fit: fill;
}

.tooltip-container {
    position: relative;
}

.tooltip {
    top: -10px;
    opacity: 0;
    position: absolute;
    z-index: 999;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
}
